<div id="sidebar" class="nav-collapse">
  <!-- sidebar menu start-->
    <div class="leftside-navigation" style="overflow: hidden; outline: none;" tabindex="5000">
      <ul class="sidebar-menu" id="nav-accordion">
        
                    <li class="active"> IN PROGRESS</li>
		    
  
  <li class=""> <table class="table general-table " >
              <thead><th width="10px"></th><th lass="action-buttons"></th><th width="*"></th><th class="action-buttons"></th></thead>
                <tbody>
                <tr>
                    <td class="danger">4</td>
                    <td>1234 Street <br/>Memphis, TN 38101</td>
                    <td><span class="label label-danger label-mini">01hr 25min</span></td>
                    <td> 
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-info " href="#app/detail">VIEW</a>                            
                            <a class="btn btn-success" href="#app/complete">DELIVER</a>
                        </div>
                   </td>
                </tr> 
                </tbody>
            </table>

  </li>
   

  
    
</ul>

	</div>
