<div class="row">
  <div class="col" style="text-align: center">
    <div class="badge-progress-wrap">
      <div round-progress
           max="100"
           current="badgeDetail.reverseProgress"
           color="#000"
           bgcolor="transparent"
           radius="100"
           stroke="20"
           semi="false"
           rounded="false"
           clockwise="false"
           responsive="true"
           duration="0"
           animation="easeInOutQuart"
           animation-delay="0">
      </div>
      <div class="avatar-wrapper"
           ng-class="{'bg-color': badgeDetail.level == 1, 'bronze': badgeDetail.level == 2,
             'silver': badgeDetail.level == 3 && !badgeDetail.rewarded, 'gold': badgeDetail.level == 3 && badgeDetail.rewarded}">
        <div>
          <i ng-class="badgeDetail.icon"></i>
        </div>
      </div>
    </div>
    <h2 class="screen-head">{{badgeDetail.name}}</h2>
    <p class="in-color small-text">{{badgeDetail.task}}</p>

    <p class="small-text">{{badgeDetail.description}}</p>

  </div>
</div>
