<div class="row">
  <div class="col">
    <div class="avatar-wrapper bg-color">
      <div><img ng-src="{{badgeDetails.imageUrl}}" /></div>
    </div>
    <h2 class="screen-head">{{badgeDetails.name | characters:15}}</h2>
    <p class="in-color small-text">{{badgeDetails.location}}</p>
    <p class="small-text" ng-if="!badgeDetails.new">
      Du hast schon {{badgeDetails.amount/100|number:2}}€ an dieses Projekt gespendet.
    </p>
    <p class="small-text" ng-if="badgeDetails.new && badgeDetails.counter>0">
      Du hast dieses Projekt schon {{badgeDetails.counter}} mal unterstützt.
    </p>
    <p class="small-text" ng-if="badgeDetails.new && badgeDetails.counter==0">
      Du hast dieses Projekt noch nicht unterstützt.
    </p>
  </div>
</div>
