<ion-modal-view class="big-modal">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button" ng-click="closeModal()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </div>
    <h2 class="title" style="text-align:center; color:#e47d25;">Forgot Password</h2>
  </ion-header-bar>

  <ion-content>
  	<div class="list list-inset">
	  <label class="item item-input">
	    <input type="text" placeholder="Email" ng-model="d.email">
	  </label>
	  <br>
	  <button class="button button-block button assertive" ng-click="reset(d)">Reset Password</button>
	</div>
  </ion-content>
</ion-modal-view>