<ion-modal-view class="big-modal">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button" ng-click="closeModal()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </div>
    <h2 class="title" style="text-align:center; color:#e47d25;">Post Product</h2>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="postAdd(add)">
    <div class="list">
      <label class="item item-input white-bg">
        <i class="icon ion-tshirt placeholder-icon form-icon"></i>
        <input type="text" required placeholder="Product Title" ng-model="add.item_title">
      </label>

      <label class="item item-select white-bg">
        <i class="icon ion-android-locate placeholder-icon form-icon"></i>
        <select style="width:100%; direction:ltr;" required ng-model="add.category_id">
          <option ng-repeat = "list in list" value="{{list.category_id}}">{{list.category_title}}</option>
        </select>
      </label>

      <label class="item item-input white-bg">
        <i class="icon ion-cash placeholder-icon form-icon"></i>
        <input required type="number" placeholder="Price in USD" ng-model="add.price">
      </label>

      <label class="item item-input white-bg">
        <i class="icon ion-pound placeholder-icon form-icon"></i>
        <input required type="number" placeholder="Product Quantity" ng-model="add.quantity">
      </label>

      <label class="item item-input white-bg">
        <i class="icon ion-chatbubble placeholder-icon form-icon"></i>
        <input required type="text" placeholder="Product Overview" ng-model="add.overview">
      </label>

      <label class="item item-input white-bg">
        <i class="icon ion-plane placeholder-icon form-icon"></i>
        <input required type="text" placeholder="Shipping Details" ng-model="add.shipping">
      </label>

      <label class="item item-input white-bg">
        <i class="icon ion-information-circled placeholder-icon form-icon"></i>
        <input type="text" placeholder="Detailed Description" ng-model="add.description">
      </label>
      <label class="item item-divider">
      Available For
      </label>
        <ion-list>
          <ion-checkbox ng-model="add.is_buyer">Sell</ion-checkbox>
          <ion-checkbox ng-model="add.is_trade">Trade</ion-checkbox>
        </ion-list>
      <div class="item item-image">
        <div class="row">
          <div ng-repeat="i in itemPhoto track by $index" class="col">
            <img src="{{i}}"><br>
            <a href='' class="button icon button-assertive ion-trash-a" ng-click="removeImage($index)"></a>
          </div>
        </div>
      </div>
      <a href='' ng-click="uploadPostPhoto()" class="button button-block button-assertive">
        <i class="icon ion-camera"> Uplaod Photos</i>
      </a>
      <button class="button button-block button-dark" type="submit">
        <i class="icon ion-ios-cart"> Post</i>
      </button>
    </div>
    <div ng-if="keyBoardShow" style="height: {{keyBoardHeight}}px;">&nbsp;</div>
    </form>
  </ion-content>
</ion-view>
