<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i> Back
      </button>
    </div>
    <h2 class="title" style="text-align:center; color:#e47d25;">Categroy Name</h2>
    <div class="buttons">
      <button class="button" ng-click="search()">
        <i class="icon ion-ios-search-strong"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list" style="float:left;">

      <a href="#/tab/favourite/favouriteProductDetail/0" class="item home-item card col-45 no-padding pull-left">
        <div class="item item-body no-padding">
          <img class="full-image" image-lazy-loader="lines" image-lazy-src="http://loremflickr.com/320/320?random=13">
          <div class="item-details"><p class="no-margin">Shirt & Trouser</p>
          <p class="small">Shirts <span class="price">$23.99</span></p>
          </div>
        </div>
      </a>

      <a href="#/tab/favourite/favouriteProductDetail/0" class="item home-item card col-45 no-padding pull-left">
        <div class="item item-body no-padding">
          <img class="full-image" image-lazy-loader="lines" image-lazy-src="http://loremflickr.com/320/320?random=14">
          <div class="item-details"><p class="no-margin">Shirt & Trouser</p>
          <p class="small">Shirts <span class="price">$23.99</span></p>
          </div>
        </div>
      </a>

      <a href="#/tab/favourite/favouriteProductDetail/0" class="item home-item card col-45 no-padding pull-left">
        <div class="item item-body no-padding">
          <img class="full-image" image-lazy-loader="lines" image-lazy-src="http://loremflickr.com/320/320?random=15">
          <div class="item-details"><p class="no-margin">Shirt & Trouser</p>
          <p class="small">Shirts <span class="price">$23.99</span></p>
          </div>
        </div>
      </a>

       <a href="#/tab/favourite/favouriteProductDetail/0" class="item home-item card col-45 no-padding pull-left">
        <div class="item item-body no-padding">
          <img class="full-image" image-lazy-loader="lines" image-lazy-src="http://loremflickr.com/320/320?random=16">
          <div class="item-details"><p class="no-margin">Shirt & Trouser</p>
          <p class="small">Shirts <span class="price">$23.99</span></p>
          </div>
        </div>
      </a>

      <a href="#/tab/favourite/favouriteProductDetail/0" class="item home-item card col-45 no-padding pull-left">
        <div class="item item-body no-padding">
          <img class="full-image" image-lazy-loader="lines" image-lazy-src="http://loremflickr.com/320/320?random=13">
          <div class="item-details"><p class="no-margin">Shirt & Trouser</p>
          <p class="small">Shirts <span class="price">$23.99</span></p>
          </div>
        </div>
      </a>

      <a href="#/tab/favourite/favouriteProductDetail/0" class="item home-item card col-45 no-padding pull-left">
        <div class="item item-body no-padding">
          <img class="full-image" image-lazy-loader="lines" image-lazy-src="http://loremflickr.com/320/320?random=14">
          <div class="item-details"><p class="no-margin">Shirt & Trouser</p>
          <p class="small">Shirts <span class="price">$23.99</span></p>
          </div>
        </div>
      </a>

      <a href="#/tab/favourite/favouriteProductDetail/0" class="item home-item card col-45 no-padding pull-left">
        <div class="item item-body no-padding">
          <img class="full-image" image-lazy-loader="lines" image-lazy-src="http://loremflickr.com/320/320?random=15">
          <div class="item-details"><p class="no-margin">Shirt & Trouser</p>
          <p class="small">Shirts <span class="price">$23.99</span></p>
          </div>
        </div>
      </a>

       <a href="#/tab/favourite/favouriteProductDetail/0" class="item home-item card col-45 no-padding pull-left">
        <div class="item item-body no-padding">
          <img class="full-image" image-lazy-loader="lines" image-lazy-src="http://loremflickr.com/320/320?random=16">
          <div class="item-details"><p class="no-margin">Shirt & Trouser</p>
          <p class="small">Shirts <span class="price">$23.99</span></p>
          </div>
        </div>
      </a>

    </div>
  </ion-content>
</ion-view>
