<ion-view show-tab view-title="About Snapflix">
  <ion-content class="padding">
  	<div class="row">
  		<div class="col col-50 col-offset-25">
	    	<img class="full-image" src="http://placehold.it/450x250">
		</div>
	</div>
	<div class="col col-offset-25">
		  <p class="row">V 1.0</p>
  		<p class="row">Copyright 2014 Snapflix.</p>
  		<p>All right reserved.</p>
  		<p>Trademarks and Brands are property of their respective owners.</p>
  	</div>
  </ion-content>
</ion-view>

    