<ion-modal-view class="change-modal">
    <ion-content>
      <div class="row">
        <div class="col">
          <button class="button button-small button-assertive" style="float:right;" ng-click="close()">X</button>
        </div>
      </div>
      <div class="row">
        <div class="col col-75 col-offset-10">
          <form ng-submit="changePassword(userData)">
            <div ng-show="successMessage" class="alert alert-success padding">
              {{successMessage}}
            </div>
            <div ng-show="errorMessage" class="alert alert-danger padding">
              {{errorMessage}}
            </div>
            <div class="padding">
              <label class="item item-input">
                <input type="password" ng-model="userData.old_password"placeholder="Current Password">
              </label>
            </div>
            <div class="padding">
              <label class="item item-input">
                <input type="password" ng-model="userData.new_password"placeholder="New Password">
              </label>
            </div>
            <div class="padding">
              <label class="item item-input">
                <input type="password" ng-model="userData.verify_password"placeholder="Verify New Password">
              </label>
            </div>
            <div class="padding">
              <input class="button button-block button-positive" type="submit" value="Save"/>
            </div>
          </form>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>