<ion-modal-view class="change-modal">
    <ion-content>
      <div class="row">
        <div class="col">
          <button class="button button-small button-assertive" style="float:right;" ng-click="close()">X</button>
        </div>
      </div>
      <div class="row">
        <div class="col col-75 col-offset-10">
            <div class="padding">
              <a ng-click="contactUs('Partner with us')" class="button button-block button-positive">Partner with us</a>
            </div>
            <div class="padding">
              <a ng-click="contactUs('Make a Suggestion')" class="button button-block button-positive">Make a Suggestion</a>
            </div>
            <div class="padding">
              <a ng-click="contactUs('Report an Issue')" class="button button-block button-positive">Report an Issue</a>
            </div>
            <div class="padding">
              <a href="#" class="button button-block button-positive">Call Us : 0294294920490</a>
            </div>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>