<ion-view  show-tab view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      	<div class="item item-divider">Home with Scan</div>
  		<div class="item item-body">
      		There is a fire in <b>sector 3</b>
      		<div class="list">
      			<label class="item item-input">
					<img src="#" class="video-image" alt="Video" />
      				<button class="btn button-assertive" ng-click="scanQr()">Click Here to Scan QR</button>
      			</label>
      		</div>
  		</div>
    </div>
  </ion-content>
</ion-view>
