<ion-view view-title="Search Movie">
	<div id="search-bar">
    	<div class="item item-input-inset">
      		<label class="item-input-wrapper" id="search-input">
        		<i class="icon ion-search placeholder-icon"></i>
        		<input type="text" placeholder="Search" ng-model="query" ng-change="search()">
      		</label>
    	</div>
  	</div>
	<ion-content id="content">
		<div class="list">
			<div ng-repeat="movie_date in items">
				<div class="item item-divider">{{movie_date.date | date: 'MMM dd, yyyy'}}</div>
		   		<a ng-repeat="movie in movie_date.movies" class="item item-thumbnail-left" href="#/tab/dash/movieDetail/{{movie.movie_id}}/{{movie.movie_name}}">
			      	<img ng-src="http://curiouslabx.com/projects/snap_flix/{{movie.movie_main_img || 'images/140x140.gif'}}">
			      	<h2>{{movie.movie_name}}</h2>
			      	<p>{{movie.movie_synopsis}}</p>
			      	<p>US Charts Rated {{movie.movie_us_rate}} | {{movie.movie_total_time}}</p>
		    	</a>
		    </div>
		</div>
	</ion-content>
</ion-view>