<ion-view view-title="Setting">
  <ion-content class="padding">
	<div class="list card">
      	<div class="item item-body">
      		<div class="list">
      			<ul class="list">
					<li class="item"><a href="#/user/editProfileStep1">Edit Profile</a></li>
					<li class="item"><a href="#/tab/misc/profilePhoto">Profile Photos</a></li>
					<li class="item"><a href="#">Change Email</a></li>
					<li class="item"><a href="#">Change Password</a></li>
				</ul>
      		</div>
			<div class="list">
      			<ul class="list">
					<li class="item"><a href="#">Contact Us</a></li>
					<li class="item"><a href="#">Terms of Use</a></li>
					<li class="item"><a href="#">Privacy Policy</a></li>
					<li class="item"><a href="#">About Snapflix</a></li>
					<li class="item"><a href="#">Logout</a></li>
				</ul>
      		</div>
  		</div>
    </div>
  </ion-content>
</ion-view>
