<ion-view view-title="signUp">
  <ion-content class="padding">    
	<div class="list card">
      <div class="item item-body">
       	<div class="list">
			 <h1>Sign up for free<h1>
	 
				<label class="item item-input">
					<input type="text" name="firstName" value=""  placeholder="First Name" required />
				</label>
				
				<label class="item item-input">					
					<input type="text" name="lastName"  value=""placeholder="Last Name" required />
				</label>
				
				<label class="item item-input">
					<input type="Email" name="email"  value="" placeholder="Email Address" required />
				</label>
				
				<label class="item item-input">
					<input type="date" name="dob"  value="" placeholder="Birth Day" required />
				</label>
				
				<label class="item item-input">
					Gender:
					<input type="radio" name="gender" value="1" checked />
					<input type="radio" name="gender" value="2" checked />
				</label>
				
				<label class="item item-input">
					<input type="password" name = "password" value="" required placeholder="Password"/>
				</label>
				
				<label class="item item-input">
					<input type="password2" name = "passwordVerify" value="" required placeholder="Verify Password"/>		
				</label>
				
				<label class="item item-input">
					<input class="button button-assertive" type="button" value="Submit"/>		
				</label>
		</div>
      </div>
    </div>
	
  </ion-content>
</ion-view>