<ion-modal-view style="background: none !important;">

  <div class="bg-color modal-bg-wrapper"></div>

  <ion-pane class="level-up">


    <div class="locked-screen">
      <div class="row">
        <div class="col col-80 col-offset-10" style="padding:10px;">
          <h2 class="screen-head white">Palim Palim</h2>
        </div>
      </div>

      <div class="avatar-wrapper-big bg-color">
        <div><i class="ion-trophy"></i></div>
      </div>

      <p class="small-text" style="margin-top:15px;">
        Hallo lieber Hans Wurst, hier ist alles neu. Deswegen musste einmal das LEvel etc. zurücksetzen....
      </p>

      <button class="apn-main-btn white full grey" ng-click="closeMigrateModal()">
        <div>Ok</div>
      </button>
    </div>


  </ion-pane>

</ion-modal-view>
