<ion-view class="home-bg" style="background:url('{{backgroundImage}}'); background-size:100%;background-repeat:no-repeat;background-position:0px;">
	<div style="height:30%"></div>
	<div style="height:30%"></div>
	<div class="banner" style="height:30%">
		<div class="row">
			<div class="col col-25">&nbsp;</div>
			<div class="col col-50"><a href="#/user/login" ><img class="img img-responsive" src="img/login.png" /></a></div>
			<div class="col col-25">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col col-25">&nbsp;</div>
			<div class="col col-50"><a href="#/user/activate" ><img class="img img-responsive" src="img/activate.png" /></a></div>
			<div class="col col-25">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col col-25">&nbsp;</div>
			<div class="col col-50"><a href="#/user/register" ><img class="img img-responsive" src="img/register.png" /></a></div>
			<div class="col col-25">&nbsp;</div>
		</div>
	</div>
</ion-view>