<div class="popup_div">

    <div class="row">
      <div class="col col-90">&nbsp;</div>
      <div class="col col-10"><a href="" ng-click="terms.hide()"><i class="ion-ios7-close-empty"></i></a></div>
    </div>
   <ion-content class="has-header">
      <div class="row" style="padding:0px;">
      <!--  <div style="padding:0px;" class="col col-50"><button class="button button-calm col btn-kia btn-kia-right-border">Seleccione Categoria</button></div>
        <div style="padding:0px;" class="col col-50"><button class="button button-calm col btn-kia">Seleccione Ciudad</button></div> -->
      </div>

      <div class="list card">
      <div class="item item-avatar">
        <h2>Terminos y condiciones</h2>
      </div>

      <div class="item item-body">
        <h2>1. ¿Quién es un socio CLUB K?</h2>
        <p>
        <br>
        • El propietario de un veh&iacute;culo KIA 0Km comprado en los concesionarios 
      autorizados METROKIA S.A. en las ciudades de Bogot&aacute;, Medell&iacute;n, 
      Villavicencio, Sogamoso y Duitama.<br>
        • Por la compra de un veh&iacute;culo KIA 0 KM en cualquiera de los 
      concesionarios de METROKIA S.A. eres autom&aacute;ticamente preseleccionado y 
      tienes derecho a ser socio de nuestro programa de fidelidad CLUB-K de 
      inmediato. Tan solo debes activar tu cuenta en el portal 
      www.clubk.com.co o descargar la aplicaci&oacute;n en la tienda de App Store o 
      Google Play en la pesta;&ntilde;a Activar cuenta una vez recibas tu membres&iacute;a y 
      aceptar los T&eacute;rminos y Condiciones.</p>
      <p>&nbsp;
        </p>
      <h2>2. ¿Que clientes KIA pueden ser CLUB K?</h2>
      <p>
  <br>
  • Un cliente que sea propietario actual de un veh&iacute;culo KIA modelo 2005 
en adelante, para este proceso es importante diligenciar el formulario 
de inscripci&oacute;n CLUB K f&iacute;sico que podr&aacute; descargar en la secci&oacute;n 
protecci&oacute;n de datos de la p&aacute;gina web 
http://www.metrokia.com.co/club-k/proteccion-de-datos de CLUB K y 
enviarlo por correo electr&oacute;nico a infocrm@kia.com.co y/o 
clubk@kia.com.co y/o clubkag1@kia.com.co, a vuelta de correo CLUB K 
enviar&aacute; la confirmaci&oacute;n de la inscripci&oacute;n con el n&uacute;mero de ID si fue 
exitosa, al ser confirmada dicha inscripci&oacute;n deber&aacute; activar su cuenta en
 el Portal de CLUB K www.clubk.com.co o descargar la aplicaci&oacute;n en la 
tienda de App Store o Google Play en la pesta&ntilde;a Activar cuenta una vez 
recibas tu membres&iacute;a y aceptar los T&eacute;rminos y Condiciones. Es muy 
importante que sus datos como Nombre, Direcci&oacute;n, Tel&eacute;fono, Mail, Placa, 
Ciudad est&eacute;n dentro de la base de datos de METROKIA S.A. para realizar 
el debido proceso. Por seguridad, toda la informaci&oacute;n que nos env&iacute;e ser&aacute;
 sujeta a verificaci&oacute;n por parte de METROKIA S.A.</p>
<p>
  <br>
  • Si compr&oacute; su veh&iacute;culo KIA en la red concesionarios nacional en un 
punto diferente a la red de distribuci&oacute;n directa de METROKIA S.A., pero 
es un cliente frecuente de nuestros servicios de Posventa en nuestros 
Talleres autorizados METROKIA S.A. y no ha recibido su membres&iacute;a, 
considerando que cumple con las condiciones m&iacute;nimas de vinculaci&oacute;n y 
desea ser socio del CLUB-K, puede hacer su solicitud y enviarla por 
correo electr&oacute;nico a infocrm@kia.com.co y/o clubk@kia.com.co y/o 
clubkag1@kia.com.co, &oacute; acercarse a alguno de nuestros puntos de venta o 
puntos de servicio m&aacute;s cercano. Conozca nuestros puntos de atenci&oacute;n de 
Vitrinas y Talleres en la p&aacute;gina web www.metrokia.com.co en la secci&oacute;n 
Vitrinas y/o Talleres. Para este proceso debe tener en cuenta los 
siguientes los siguientes requisitos:<br>
  o Deber&aacute; registrar a nombre del titular y el veh&iacute;culo del mismo (chasis y placa).</p>
<p>
  o Haber realizado compras superiores a 1.000.000 (Un mill&oacute;n de pesos) 
en un periodo de 1 a&ntilde;o en un Taller autorizado Metrokia S.A.</p>
<p>
  • Si acaba de comprar un veh&iacute;culo KIA modelo 2005 en adelante a un 
antiguo propietario siendo un cliente frecuente de nuestros servicios de
 Taller Metrokia S.A. y desea ser socio de CLUB K, deber&aacute; hacer su 
solicitud, diligenciando el formulario de inscripci&oacute;n CLUB K f&iacute;sico que 
podr&aacute; descargar en la secci&oacute;n protecci&oacute;n de datos de la p&aacute;gina web 
http://www.metrokia.com.co/club-k/proteccion-de-datos de CLUB K y 
enviarla por correo electr&oacute;nico a infocrm@kia.com.co y/o 
clubk@kia.com.co &nbsp;y/o clubkag1@kia.com.co &oacute; acercarse a alguno de 
nuestros puntos de venta o puntos de servicio m&aacute;s cercano. Conozca 
nuestros puntos de atenci&oacute;n de Vitrinas y Talleres en la p&aacute;gina web 
www.metrokia.com.co en la secci&oacute;n Vitrinas y/o Talleres.</p>
<p>
  <br>
  o Debe haber registrado su tercer mantenimiento seguido en un Taller 
Metrokia S.A., es importante que el cliente lleve su KIA a un Taller 
certificado METROKIA S.A. en sus 2 primeros mantenimientos as&iacute; para el 
tercero estar&aacute; registrado y empezar&aacute; a gozar de los beneficios de CLUB 
K.</p>
<p>
  <br>
  • Por seguridad, toda la informaci&oacute;n que nos env&iacute;e ser&aacute; sujeta a verificaci&oacute;n por parte de METROKIA S.A.</p>
<p>
  • Si un cliente decide asignar un beneficiario dentro del CLUB K, lo 
debe informar a trav&eacute;s de correo electr&oacute;nico a infocrm@kia.com.co y/o 
clubk@kia.com.co y/o clubkag1@kia.com.co &oacute; a nuestra l&iacute;nea de atenci&oacute;n 
en Bogot&aacute; 364 9700 Ext. 2610 – 1076 o a nuestro Call Center en Bogot&aacute; 
7431827 - Medell&iacute;n 6042755 Villavicencio 6848684 Sogamoso 7471778. El 
beneficiario debe ser de primer grado de consanguineidad del socio de 
CLUB K, el cual deber&aacute; llenar el mismo formulario f&iacute;sico y enviarlo a 
vuelta de correo para poder ingresar los datos al portal CLUB K y ser 
validado, el beneficiario tendr&aacute; el mismo ID y se activar&aacute; con el mismo 
login del socio de CLUB K y as&iacute; obtendr&aacute; los beneficios que ofrece el 
programa.</p>
<p>
  <br>
  • Esta regla tiene vigencia hasta el d&iacute;a 31 del mes de Diciembre del a&ntilde;o 2014</p>
<p>&nbsp;
  </p>
  <h2>3. ¿Cómo se identifica un Cliente CLUB K?</h2>
  <p>&nbsp;
  </p>
<p>
  • Para identificarse como socio CLUB K en los Concesionarios, Talleres 
y/o en los establecimientos aliados, debe tener su tarjeta del Club 
vigente y presentarla en el momento de la redenci&oacute;n.</p>
<p>
  <br>
  • Es indispensable presentar la tarjeta de membres&iacute;a del CLUB K en los 
establecimientos aliados y en los puntos de venta y de servicio de 
METROKIA S.A y MISTERCAR. No se otorgar&aacute; ning&uacute;n beneficio a los miembros
 del club que solo presenten la tarjeta de propiedad del veh&iacute;culo; no 
obstante METROKIA S.A. y sus aliados podr&aacute;n solicitar la tarjeta de 
propiedad del veh&iacute;culo cuando lo consideren necesario para validar la 
informaci&oacute;n de que el cliente CLUB K sea el propietario del veh&iacute;culo.</p>
<p>
  <br>
  • Al hacer efectiva una redenci&oacute;n de beneficios de posventa en algunos 
de los Talleres autorizados Metrokia S.A. o en establecimientos Aliados 
deber&aacute; presentar su c&oacute;digo de validaci&oacute;n, este c&oacute;digo lo arroja el 
portal de CLUB K www.clubk.com.co o al descargar la Aplicaci&oacute;n CLUB K en
 App Store o Google Play y aceptar los t&eacute;rminos y condiciones del 
programa.</p>
<p>
  <br>
  • La tarjeta de CLUB K no es un medio de pago, esta lo acredita como socio de CLUB K y es personal e intransferible.</p>
<p>&nbsp;
  </p>
  <h2>4. ¿Cómo recibirá comunicación de CLUB K?</h2>
  <p>&nbsp;
  </p>
<p>
  • La comunicaci&oacute;n de los beneficios, vigencias y condiciones de uso 
ser&aacute;n v&iacute;a web por la p&aacute;gina de METROKIA S.A. en la secci&oacute;n de CLUB K, a 
trav&eacute;s de la Aplicaci&oacute;n y/o portal de CLUB K.</p>
<p>
  <br>
  • Si el CLUB K hace un lanzamiento especial de un beneficio se le 
comunicar&aacute; al ganador por correo electr&oacute;nico y/o comunicaci&oacute;n enviada a 
la direcci&oacute;n de correspondencia; para ello es muy importante que el 
cliente realice actualizaci&oacute;n de sus datos constantemente y as&iacute; no 
perderse de los beneficios del programa.</p>
<p>
  <br>
  • El equipo de CLUB K se comunicar&aacute; v&iacute;a telef&oacute;nica, v&iacute;a mail y/o por el
 portal – aplicaci&oacute;n de CLUB K en el momento que sea necesario.</p>
<p>
  <br>
  • El cliente en el momento de recibir su membres&iacute;a de CLUB K deber&aacute; 
firmar la carta de entrega y autorizaci&oacute;n de env&iacute;o de informaci&oacute;n para 
poder estar dentro de los par&aacute;metros legales de la 1582 de 2012.</p>
<p>
  <br>
  • En el caso en que el CLUB K termine, se le informar&aacute; a todos los 
miembros dentro de los 30 d&iacute;as previos a que se haga efectiva la 
culminaci&oacute;n, sin generar indemnizaciones o compensaciones para alguno de
 nuestros miembros o clientes.</p>
<p>
  <br>
  • Si no desea ser socio de CLUB K o si ya est&aacute; inscrito y deseas 
retirarse, puede comunicarnos su decisi&oacute;n al siguiente correo 
electr&oacute;nico clubk@kia.com.co y/o infocrm@kia.com.co y/o 
clubkag1@kia.com.co o a nuestra l&iacute;nea de atenci&oacute;n en Bogot&aacute; 364 9700 
Ext. 2610 – 1076 o a nuestro Call Center en Bogot&aacute; 7431827 - Medell&iacute;n 
6042755 Villavicencio 6848684 Sogamoso 7471778.</p>
<p>&nbsp;
  </p>
  <h2>5. ¿Cómo puede ser Aliado del CLUB K?</h2>
  <p>&nbsp;
  </p>
<p>
  • Los aliados y los beneficios del CLUB-K ser&aacute;n escogidos por METROKIA 
S.A., cada uno de los Aliados y beneficios tendr&aacute;n cobertura local como 
nacional de acuerdo a su ubicaci&oacute;n geogr&aacute;fica, cada uno aplicar&aacute;n 
condiciones y restricciones que el cliente deber&aacute; tener en cuenta.</p>
<p>
  <br>
  • La informaci&oacute;n de cada Alianza como su vigencia, disposici&oacute;n de 
entrega, atenci&oacute;n al p&uacute;blico seg&uacute;n horarios los define el Aliado dentro 
del acuerdo que firma con el programa de fidelizaci&oacute;n de METROKIA S.A.</p>
<p>
  <br>
  • METROKIA S.A. se reserva el derecho de modificar o cancelar los 
beneficios, t&eacute;rminos o condiciones que ofrece CLUB-K sin previo aviso.</p>
<p>&nbsp;
  </p>
  <h2>6. Tarjeta CLUB K:</h2>
  <p>&nbsp;
  </p>
<p>
  • La membres&iacute;a y vinculaci&oacute;n al CLUB K son gratis y de car&aacute;cter abierto
 a cualquier persona natural mayor de edad, esta se dar&aacute; por primera vez
 por la compra de un veh&iacute;culo KIA comprado en los concesionarios 
METROKIA S.A. o por cumplir con los t&eacute;rminos y condiciones de 
facturaci&oacute;n de $ 1.000.000 (Un mill&oacute;n de pesos) en nuestros talleres de 
servicio autorizados METROKIA S.A.</p>
<p>
  <br>
  • En caso de p&eacute;rdida o robo su documento de identificaci&oacute;n como socio 
de CLUB K por situaciones ajenas, el cliente debe exponer su caso y 
reportarlo al CLUB K al correo electr&oacute;nico cclubk@kia.com.co y/o 
infocrm@kia.com.co y/o clubkag1@kia.com.co o a nuestra l&iacute;nea en Bogot&aacute; 
364 9700 Ext. 2610 – 1076 o a nuestro Call Center en Bogot&aacute; 7431827 - 
Medell&iacute;n 6042755 Villavicencio 6848684 Sogamoso 7471778.</p>
<p>
  <br>
  • La p&eacute;rdida de este documento generara un valor a cancelar, para poder
 ser generado por segunda vez, esta consignaci&oacute;n solo se podr&aacute; hacer en 
la cuenta autorizada por METROKIA S.A. en Bancolombia Cuenta Corriente 
N° 171-0620103-1 con el concepto CLUB K.<br>
  Valor a pagar por reposici&oacute;n de la Tarjetas Club K</p>
<p>
  <br>
  -Club K: $30.000*<br>
  -Club K Beneficiario: $20.000*<br>
  -Golden K: $35.000*<br>
  -Golden K Beneficiario: $25.000*<br>
  * Precios con IVA incluido</p>
<p>
  <br>
  • El cliente debe llevar la consignaci&oacute;n a las cajas autorizadas por 
METROKIA S.A. en las ciudades de Bogot&aacute;, Villavicencio, Sogamoso y 
Duitama o enviarla al mail clubk@kia.com.co para poder registrar el pago
 y as&iacute; mismo sea emitida la factura correspondiente. Ya emitida la 
factura por el pago de CLUB K, se procede a realizar la producci&oacute;n de la
 misma y ser entregada en los tiempos estipulados en el programa.</p>
<p>
  <br>
  • Los tiempos de entrega de la Tarjeta de CLUB K en el momento de 
adquirir un veh&iacute;culo 0 Km es inmediata, esta se entregar&aacute; con el 
veh&iacute;culo de acuerdo a la fecha acordada con el centro de Log&iacute;stica de 
METROKIA S.A., esta quedar&aacute; activa dentro del portal del CLUB K en 1 d&iacute;a
 h&aacute;bil para que el cliente pueda empezar a disfrutar de sus beneficios.</p>
<p>
  <br>
  • Los tiempos de entrega de una tarjeta que se genere por duplicado 
ser&aacute;n de 8 d&iacute;as h&aacute;biles y su activaci&oacute;n dentro del portal ser&aacute; de 3 d&iacute;as
 h&aacute;biles, as&iacute; el cliente podr&aacute; empezar a disfrutar de sus beneficios.</p>
<p>
  <br>
  • Los tiempos de entrega de una tarjeta que se genere como beneficiario
 ser&aacute;n de 3 d&iacute;as h&aacute;biles y su activaci&oacute;n d&iacute;a h&aacute;bil para que el cliente 
pueda empezar a disfrutar de sus beneficios.</p>
<p>&nbsp;
  </p>
  <h2>7. ¿Quién no pertenece a CLUB K?</h2>
  <p>&nbsp;
  </p>
<p>
  • Entidades jur&iacute;dicas no califican para membres&iacute;a como titulares de la 
cuenta. CLUB K es un programa concebido exclusivamente para clientes de 
METROKIA S.A. particulares y personas naturales.</p>
<p>
  • Dentro del programa no califican las l&iacute;neas de servicio p&uacute;blico como 
Taxis, servicio especial, Transporte de Carga, Veh&iacute;culos K2700.</p>
<p>
  • La inscripci&oacute;n y vinculaci&oacute;n como miembro de CLUB K y el uso de la 
tarjeta de membres&iacute;a, est&aacute;n sujetos al reglamento, t&eacute;rminos y 
condiciones establecidos por METROKIA S.A., as&iacute; como la aceptaci&oacute;n por 
parte del socio del reglamento establecido para el club.</p>
<p>&nbsp;
  </p>
  <h2>8. Cliente CLUB K:</h2>
  <p>&nbsp;
  </p>
<p>
  • Los clientes KIA que cumplan con los t&eacute;rminos y condiciones del 
programa y que est&eacute;n activos dentro del portal, deber&aacute;n activarse para 
poder acceder a los beneficios y comunicaci&oacute;n que ofrece el CLUB K, para
 ellos es importante que el cliente active su cuenta a trav&eacute;s del Portal
 del CLUB K o en la Aplicaci&oacute;n m&oacute;vil.</p>
<p>
  <br>
  • Al portal del CLUB K se ingresa a trav&eacute;s de la URL www.clubk.com.co o
 si tiene un Smartphone ingresando a la tienda de Google Play si su 
Celular es un Android o APP Store si su celular en un iPhone (iOS), la 
descarga de la aplicaci&oacute;n o el ingreso para activaci&oacute;n al Portal es 
totalmente gratis.</p>
<p>
  <br>
  • Se espera de los clientes de METROKIA S.A., socios del programa CLUB 
K, y como requisito para su permanencia en el mismo, que mantengan una 
conducta digna, de total respeto hacia las personas, colaboradores, 
visitantes, otros clientes, instalaciones y entidades tanto de METROKIA 
S.A. como sus aliados. METROKIA S.A. se reserva el derecho de suspender,
 temporal o definitivamente, la vinculaci&oacute;n De cualquier socio del 
CLUB-K que incurra en conductas de irrespeto, agresi&oacute;n o maltrato hacia 
empleados, clientes, visitantes, o instalaciones en las vitrinas y/o 
puntos de servicio METROKIA S.A. o a las entidades aliadas, la que bajo 
ning&uacute;n motivo se entender&aacute; como justificada o sujeta a pretextos y sin 
perjurio de las acciones legales que resulten procedentes por parte de 
quien corresponda, de acuerdo con la naturaleza de los mismos hechos. 
Presentados los hechos e identificado al cliente que incurri&oacute; en los 
mismos, se suspender&aacute; la membres&iacute;a por tiempo indefinido y estar&aacute; su 
futura vinculaci&oacute;n al programa atada a un estudio y verificaci&oacute;n por 
parte de METROKIA S.A. tanto de su comportamiento como de su fidelidad 
con la marca, de igual forma se revisar&aacute; profundamente los hechos que 
provocaron esta suspensi&oacute;n o expulsi&oacute;n de cliente del programa y solo 
as&iacute; se decidir&aacute; cu&aacute;ndo puede reactivarse la membres&iacute;a como socio del 
CLUB K. De no reactivarse, se proceder&aacute; a retirar la tarjeta que posea y
 METROKIA S.A. se abstendr&aacute; de emitir una nueva tarjeta, aun si el 
cliente sigue adquiriendo productos de la marca o asistiendo a sus 
vitrinas y puntos de servicio. La reiteraci&oacute;n de este tipo de conductas 
le otorgar&aacute; a METROKIA S.A. el derecho a la exclusi&oacute;n definitiva del 
cliente del programa de CLUB K.</p>
<p>
  <br>
  • METROKIA S.A. se reserva el derecho y la decisi&oacute;n unilateral de 
excluir a cualquier socio del CLUB K en cualquier momento o situaci&oacute;n, 
suspender el uso de la tarjeta a su nombre, solicitar su devoluci&oacute;n y 
cancelar la membres&iacute;a del portador sin previo aviso, dando derecho a los
 miembros del programa al uso de los beneficios adquiridos hasta el d&iacute;a 
de vencimiento de la &uacute;ltima tarjeta emitida a su nombre.</p>
<p>
  <br>
  • CLUB K inactivar&aacute; su membres&iacute;a si &eacute;sta no presenta ning&uacute;n movimiento 
(visita por mantenimiento o reparaci&oacute;n, compra de repuestos o 
accesorios) en un per&iacute;odo igual o superior a seis (6) meses.</p>
<p>
  <br>
  • Para poder acceder a los beneficios de Posventa en los Talleres de 
servicio autorizados dentro del CLUB K, el cliente debe cumplir con 
todos los mantenimientos preventivos y revisiones especificadas en su 
manual de garant&iacute;as. (Cada 5.000 Km).</p>
<p>
  <br>
  • Si no ha llevado su veh&iacute;culo a alguna de las revisiones descritas en 
el manual de garant&iacute;as, se revisar&aacute; en un periodo de 6 meses los 
indicadores de presencia, latencia, frecuencia y compras promedio en 
nuestros establecimientos; espec&iacute;ficamente en los negocios de taller, 
repuestos, accesorios y salas de venta. Si cumple con las condiciones 
m&iacute;nimas establecidas por METROKIA S.A. seguir&aacute; teniendo derecho a los 
beneficios que como socio CLUB K es merecedor.</p>
<p>
  <br>
  • Debe actualizar su informaci&oacute;n m&iacute;nimo cada 6 meses para mantener 
activa su membres&iacute;a del CLUB K. Es responsabilidad del socio mantener 
actualizada su informaci&oacute;n en la base de datos del Portal de CLUB K, 
ingresando al portal www.clubk.com.co o enviando un correo electr&oacute;nico a
 clubk@kia.com.co y/o infocrm@kia.com.co y/o clubkag1@kia.com.co o 
comunic&aacute;ndose a nuestra l&iacute;nea de atenci&oacute;n en Bogot&aacute; 364 9700 Ext. 2610 –
 1076 o a nuestro Call Center en Bogot&aacute; 7431827 No tener sus datos al 
d&iacute;a produce el riesgo de que no se entere de nuestras comunicaciones y 
beneficios especiales.</p>
<p>
  • CLUB K est&aacute; en derecho y autoridad de hacer cambio de los beneficios 
dentro de la temporalidad establecida por el programa, cada cliente 
recibir&aacute; informaci&oacute;n de cambios o modificaciones realizadas en &eacute;l para 
que tengan conocimiento total de los descuentos, promociones o campa&ntilde;as 
que se est&aacute;n manejando.</p>
<p>
  • Cada cliente debe acogerse a los cambios de dise&ntilde;o y presentaci&oacute;n que
 presenta el CLUB K, cada cliente que descargue o se active en la APP 
CLUB K da por aceptado los t&eacute;rminos y condiciones establecidos en el 
programa.</p>
<p>
  • CLUB K da por terminada la redenci&oacute;n de los bonos impresos que se 
entregaron ene l a&ntilde;o 2013, estos tendr&aacute;n vencimiento para agotar 
existencias hasta el 31 de Marzo de 2014.&nbsp;</p>
<p>
  <br>
  • Como miembro activo de CLUB K, debe garantizar la exactitud y validez
 de la informaci&oacute;n suministrada y asumir la responsabilidad por 
cualquier dato err&oacute;neo, incompleto o caducado en su registro.</p>
<p>
  <br>
  • METROKIA S.A. se reserva el derecho de utilizar la informaci&oacute;n de los
 miembros del CLUB K y suministrar dicha informaci&oacute;n a empresas 
asociadas o aliadas. Esta informaci&oacute;n solo ser&aacute; manipulada, tratada y 
capturada como registro &uacute;nico de CLUB K.</p>
<p>
  <br>
  • Con el fin de desarrollar estrategias y din&aacute;micas comerciales y de 
inteligencia de mercado, METROKIA S.A. tiene el derecho de utilizar la 
informaci&oacute;n aqu&iacute; contenida para trabajos de campo como: Investigaci&oacute;n de
 servicio y Calidad, sugerencias y comentarios, promoci&oacute;n, comunicaci&oacute;n 
y/o evento a realizar.</p>
<p>
  <br>
  • METROKIA S.A. no es responsable de ninguna p&eacute;rdida, robo o cualquier 
otra forma de divulgaci&oacute;n no autorizada de la informaci&oacute;n suministrada 
por el cliente.</p>
<p>
  <br>
  • Ser&aacute; causal de expulsi&oacute;n inmediata al miembro del CLUB K que 
comercialice o negocie los beneficios exclusivos, directamente o a 
trav&eacute;s de un tercero. Este tipo de conductas no est&aacute;n permitidas y 
podr&aacute;n llevar a acciones jur&iacute;dicas o legales por parte de METROKIA S.A.,
 sus aliados o asociados y aquellos que se vean afectados por estos 
hechos.</p>
<p>
  <br>
  • En el momento en que el propietario del veh&iacute;culo KIA venda el mismo, 
pierde los beneficios que el club le otorga. El nuevo propietario puede 
acceder y solicitar su membres&iacute;a, descargando en f&iacute;sico el formulario de
 CLUB K en la secci&oacute;n protecci&oacute;n de datos de la p&aacute;gina web 
http://www.metrokia.com.co/club-k/proteccion-de-datos de CLUB K y 
diligenciarlo en su totalidad; enviarlo por correo electr&oacute;nico a 
clubk@kia.com.co y/o infocrm@kia.com.co y/o clubkag1@kia.com.co o 
acercarse a alguno de nuestros puntos de venta o puntos de servicio m&aacute;s 
cercano; a vuelta de correo CLUB K enviar&aacute; la confirmaci&oacute;n de la 
inscripci&oacute;n con el n&uacute;mero de ID si fue exitosa, al ser confirmada dicha 
inscripci&oacute;n deber&aacute; activar su cuenta en el Portal de CLUB K 
www.clubk.com.co en la pesta&ntilde;a activar cuenta, es muy importante que 
tenga en cuenta que sus datos como Nombre, Direcci&oacute;n, Tel&eacute;fono, Mail, 
Placa, Ciudad est&eacute;n dentro de la base de datos de METROKIA S.A. para 
realizar el debido proceso. Por seguridad, toda la informaci&oacute;n que nos 
env&iacute;e ser&aacute; sujeta a verificaci&oacute;n por parte de METROKIA S.A. Luego, 
deber&aacute; cumplir con los requisitos m&iacute;nimos exigidos para su vinculaci&oacute;n y
 especificados anteriormente en las condiciones de ingreso al programa 
CLUB K.</p>
<p>
  <br>
  • Ninguno de los beneficios del Taller o los puntos de servicio son v&aacute;lidos para veh&iacute;culos que ingresan por aseguradora.</p>
<p>
  <br>
  • El presente reglamento y sus beneficios no son negociables ni 
canjeables por dinero ni por otros beneficios no establecidos por 
METROKIA S.A.</p>
<p>
  <br>
  • El presente reglamento, sus t&eacute;rminos y condiciones, no aplica para 
otros programas de fidelizaci&oacute;n de METROKIA S.A. o sus aliados.</p>
<p>
  <br>
  • Si observas alguna inconsistencia en tu membres&iacute;a, comun&iacute;cate con 
nosotros al correo electr&oacute;nico: clubk@kia.com.co y/o infocrm@kia.com.co 
y/o clubkag1@kia.com.co o a nuestras l&iacute;neas de atenci&oacute;n en Bogot&aacute; 
7431827 - Medell&iacute;n 6042755 - Villavicencio 6848684 - Sogamoso 7471778</p>
<p>
  <br>
  • Todos los beneficios de servicio aplican tambi&eacute;n para el taller 
MISTERCAR, como aliado estrat&eacute;gico de METROKIA S.A. Para cualquier 
inquietud comun&iacute;cate al PBX 6157000 o en las oficinas principales Cra. 
47 No. 134A - 69 Bogot&aacute; D.C. Colombia.</p>
<p>
  <br>
  • El cliente al ser socio del Club-K, autoriza a METROKIA S.A. a que le
 env&iacute;e informaci&oacute;n de promociones, eventos, lanzamientos y noticias, por
 el medio que METROKIA considere conveniente para la comunicaci&oacute;n (Mail,
 SMS, Correo certificado), con el fin de mantenerle informado sobre 
actividades llevadas a cabo por Metrokia S.A. que puedan resultar de su 
inter&eacute;s.</p>
<p>&nbsp;
  </p>
  <p> • Los beneficios Club K no son acumulables, a menos que en las condiciones del beneficio se diga lo contrario.</p>
      </div>
    </div>
      </ion-list> -->
    </ion-content>
</div> 

<style>
/*  .my_input{
    border-radius:50px; 
    background: rgba(180,180,180,0.8);
    text-align: center;
  }*/
</style>