<ion-modal-view>
	<ion-header-bar class="bar bar-stable" no-tap-scroll="true">
    <div align="left" class="buttons">
    <button class="button header-btn" ng-click="closeModal()">
          Cancel
        </button>
    </div>
    <h2 class="title header-title">Create Time Block</h2>
    <div align="right" class="buttons">
    <button class="button header-btn" ng-click="closeModal()">
          Save
        </button>
    </div>
  </ion-header-bar>
  <ion-content style="background:#fafafa;">
    <div class="list">
      <div class="item item-divider">
          Time Block Details
      </div>
      <a class="item" href="#">
        <span class="grey-dark">Date/Time</span>
        <span class="item-note blue-default">
         Friday, 11 Mar 2016
        </span>
      </a>
      <a class="item" href="#">
        <span class="grey-dark">Task</span>
        <span class="item-note blue-default">
         Writing the flipping Java Script
        </span>
      </a>
    </div>
  </ion-content>
</ion-modal-view>