<ion-view view-title="Settings">
	<ion-content class="setting-bg">
		<div class="row">
			<div class="col col-10">&nbsp;</div>
			<div class="col">
				<img src="img/logo_700x200.png" class="logo-image">
			</div>
			<div class="col col-10">&nbsp;</div>
		</div>

		<div class="list">
		  	<a class="item" href="">APPOINTMAN Sport </a>
		  	<a class="item" href="">Die Online-Buchung ist Aktiviert</a>
		  	<h3 class="account-heading">{{'account' | translate}}</h3>
		  	<a class="item item-icon-right" href="">
		  		{{'accept_terms_and_conditions' | translate}} <i class="icon ion-ios-arrow-forward icon-right"></i>
		  	</a>
		  	<a class="item item-icon-right" href="">
		  		{{'new_password' | translate}} <i class="icon ion-ios-arrow-forward icon-right"></i>
		  	</a>
		  	<a class="item item-icon-right" href="">
		  		{{'data_saved' | translate}} <i class="icon ion-ios-arrow-forward icon-right"></i>
		  	</a>
		  	<a class="item item-icon-right" href="">
		  		{{'calendar_stream' | translate}} <i class="icon ion-ios-arrow-forward icon-right"></i>
		  	</a>
		  	<a class="item item-icon-right" href="">
		  		{{'password' | translate}} <i class="icon ion-ios-arrow-forward icon-right"></i>
		  	</a>		  	
		  	<a class="item item-icon-right" href="">
		  		{{'terms_and_conditions' | translate}} <i class="icon ion-ios-arrow-forward icon-right"></i>
		  	</a>
		  	<a class="item item-icon-right" href="">
		  		{{'imprint' | translate}} <i class="icon ion-ios-arrow-forward icon-right"></i>
		  	</a>
		  	<button ng-click="logout()" class="button button-block button-clear button-positive login-btn-text">{{'logout' | translate}}</button>
  		</div>
</ion-view>
