<ion-view title="More">
  <ion-content>
    <div class="list">

	 	<a class="item item-icon-left item-icon-right app-color" href="#/tab/more/about">
	    	<i class="icon ion-ios7-world-outline custom-icon-color"></i>About
	    	<i class="icon ion-ios7-arrow-thin-right custom-icon-color"></i>
	  	</a>

	  	<!--<a class="item item-icon-left item-icon-right app-color" href="#/tab/more/help">
	    	<i class="icon ion-ios7-help-outline custom-icon-color"></i>Help/FAQ
	    	<i class="icon ion-ios7-arrow-thin-right custom-icon-color"></i>
	  	</a>-->

	  	<a class="item item-icon-left app-color" ng-click="showActionsheet()">
	    	<i class="icon ion-ios7-email-outline custom-icon-color"></i>Tell a Friend
	  	</a>

	  	<a class="item item-icon-left item-icon-right app-color" href="" onclick="window.open('market://details?id=com.curiouslabx.workoutfactory', '_system');">
	    	<i class="icon ion-ios7-star-outline custom-icon-color"></i>Rate Workout - Factory
	    	<i class="icon ion-ios7-arrow-thin-right custom-icon-color"></i>
	  	</a>

	  	<!--<a class="item item-icon-left item-icon-right app-color" href="#/tab/more/setting">
	    	<i class="icon ion-ios7-chatboxes-outline custom-icon-color"></i>Notifications
	    	<i class="icon ion-ios7-arrow-thin-right custom-icon-color"></i>
	  	</a>-->

	  	<a class="item text-center" style="color:red;" href="" ng-click="clearFavourite()">
	    	Clear All Favourites
	  	</a>

	</div>
  </ion-content>
</ion-view>