<ion-view title="About Workout">
  <ion-content>

    <div class="row">
      <div class="col">
        <p class="post-icon-color">
          Are you an intermediate or advanced trainee looking to build muscle mass fast? If so, welcome to the program I simply call The Workout Factory.
  
            The Workout Factory is the completely FREE weight training program that I recommend most often to people looking to build any amount of muscle mass as fast as possible.
          <br>   
            This workout routine is designed to work for both men and women, young and old, people looking to build a significant amount of muscle and get “big” or build a small amount of muscle and just get “toned.”
          <br>
            Basically, if you’re past the beginner’s stage and your primary goal is building muscle or improving the way your body looks in virtually any capacity, this program is for you.<br/><br/>
          
          Let this free app be your simple and portable notebook with great ideas for preparing quick and easy.<br/><br/>
          Internet connection is needed to run this app.
          <br/><br/>
          <a href="#" onclick="window.open('http://curiouslabx.com', '_system');">Visit Developer's Website</a>
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>