<ion-view view-title="Nhari">
    <!-- <ion-header-bar class="bar bar-subheader">
        <div class="row">
            <div class="col col-50" align="center">
                <a ng-click="sortItems()" ><i class="icon ion-funnel"></i>Sort</a>        
            </div>
            <div class="col col-50" align="center">
                <a ng-click="filter()"><i class="icon ion-search"></i>Search</a>        
            </div>
        </div>
    </ion-header-bar> -->
    
    <ion-content>

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="getHomeItems()">
        </ion-refresher>

        <div class="list">
            
            <div ng-repeat="list in homeList | filter: priceFilter | filter: searchTerms | filter: distanceFilter | orderBy:sortParam">
                
                <a ng-if="list.type == 'banner'" class="item" href="{{list.link}}">
                  <img src="http://www.nhari.nl/mobileapp/files/{{list.image}}" class="col" />
                </a>

                <a ng-if="list.type == 'item'" class="item item-thumbnail-left" href="#/app/item/{{list.itemDetails.item_id}}">
                    <img src="http://www.nhari.nl/mobileapp/{{list.images[0].item_image}}" />
                    <h2>{{list.itemDetails.item_title}}</h2>
                    <p>{{list.itemDetails.description}}</p>
                    <small class="item-note">{{list.itemDetails.price | currency: USD$: 0}} | {{list.itemDetails.location}}</small>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>