<div class="list">
  <div class="apn-list-item thin">
    <span class="avatar-badge">1</span>
    <div class="avatar-wrapper-small bg-color">
      <div>
        <img src="./img/avatar/avatar03.png" />
      </div>
    </div>
    <div class="content">
      <div class="head">Anonym</div>
    </div>
    <div class="right-drag">
      <span class="">100</span> XP
    </div>
  </div>
  <div class="apn-list-item thin">
    <span class="avatar-badge">1</span>
    <div class="avatar-wrapper-small bg-color">
      <div>
        <img src="./img/avatar/avatar03.png" />
      </div>
    </div>
    <div class="content">
      <div class="head">Anonym</div>
    </div>
    <div class="right-drag">
      <span class="">100</span> XP
    </div>
  </div>
  <div class="apn-list-item thin">
    <span class="avatar-badge">1</span>
    <div class="avatar-wrapper-small bg-color">
      <div>
        <img src="./img/avatar/avatar03.png" />
      </div>
    </div>
    <div class="content">
      <div class="head">Anonym</div>
    </div>
    <div class="right-drag">
      <span class="">100</span> XP
    </div>
  </div>
  <div class="apn-list-item thin">
    <span class="avatar-badge">1</span>
    <div class="avatar-wrapper-small bg-color">
      <div>
        <img src="./img/avatar/avatar03.png" />
      </div>
    </div>
    <div class="content">
      <div class="head">Anonym</div>
    </div>
    <div class="right-drag">
      <span class="">100</span> XP
    </div>
  </div>
  <div class="apn-list-item thin">
    <span class="avatar-badge">1</span>
    <div class="avatar-wrapper-small bg-color">
      <div>
        <img src="./img/avatar/avatar03.png" />
      </div>
    </div>
    <div class="content">
      <div class="head">Anonym</div>
    </div>
    <div class="right-drag">
      <span class="">100</span> XP
    </div>
  </div>
  <div class="apn-list-item thin">
    <span class="avatar-badge">1</span>
    <div class="avatar-wrapper-small bg-color">
      <div>
        <img src="./img/avatar/avatar03.png" />
      </div>
    </div>
    <div class="content">
      <div class="head">Anonym</div>
    </div>
    <div class="right-drag">
      <span class="">100</span> XP
    </div>
  </div>
  <div class="apn-list-item thin">
    <span class="avatar-badge">1</span>
    <div class="avatar-wrapper-small bg-color">
      <div>
        <img src="./img/avatar/avatar03.png" />
      </div>
    </div>
    <div class="content">
      <div class="head">Anonym</div>
    </div>
    <div class="right-drag">
      <span class="">100</span> XP
    </div>
  </div>
  <div class="apn-list-item thin">
    <span class="avatar-badge">1</span>
    <div class="avatar-wrapper-small bg-color">
      <div>
        <img src="./img/avatar/avatar03.png" />
      </div>
    </div>
    <div class="content">
      <div class="head">Anonym</div>
    </div>
    <div class="right-drag">
      <span class="">100</span> XP
    </div>
  </div>
  <div class="apn-list-item thin">
    <span class="avatar-badge">1</span>
    <div class="avatar-wrapper-small bg-color">
      <div>
        <img src="./img/avatar/avatar03.png" />
      </div>
    </div>
    <div class="content">
      <div class="head">Anonym</div>
    </div>
    <div class="right-drag">
      <span class="">100</span> XP
    </div>
  </div>
</div>
</div>
