<ion-view title="热门标签">
  <ion-content class="has-header">
    <div class="list">
     <div class="item">
      <button class="button button-small button-outline button-royal button-filter" ng-click="">
        <i class="icon ion-checkmark-circled">&nbsp;</i> <!-- If selected -->
        筛选
      </button>
      <h2>[Tag Name]</h2>
      <p>[Number of Posts]</p>
    </div>
    <div class="item">
      <button class="button button-small button-outline button-royal button-filter" ng-click="">
        <i class="icon ion-checkmark-circled">&nbsp;</i> <!-- If selected -->
        筛选
      </button>
      <h2>[Tag Name]</h2>
      <p>[Number of Posts]</p>
    </div>
    <div class="item">
      <button class="button button-small button-outline button-royal button-filter" ng-click="">
        <i class="icon ion-checkmark-circled">&nbsp;</i> <!-- If selected -->
        筛选
      </button>
      <h2>[Tag Name]</h2>
      <p>[Number of Posts]</p>
    </div>

    
      </div>

    </div>
  </ion-content>
</ion-view>
